<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"><head>
<meta charset="UTF-8">
<title>Forex Trading App</title>
<link rel ="stylesheet" th:href="@{/index.css}"/>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">


</head>
<body id = "IndexMain">
<br><br>
<img th:src="@{logo-no-background.png}" alt="Stark logo" class="center">
		<br><br><br>


		<div class="buttons" style="width:25%; margin:0 auto;" align="center">
		<a th:href="@{/login}" class = "button" > Login </a>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<!-- 		<div class="space" ></div> -->
		<a th:href="@{/register}" class = "button" > Register </a>
		</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous">
</script>	
</body>
</html>